# FastAPI and dependencies
fastapi
uvicorn[standard]
pydantic
pydantic_settings
python-multipart

# Database connections
motor
chromadb
pymongo

# AI and ML
ollama
langchain
langchain-community

# Document processing
PyPDF2
PyMuPDF
python-docx
Pillow


# Utilities
python-jose[cryptography]
passlib[bcrypt]
python-dateutil
sentence-transformers
httpx